html, body, :root {
  height: 0;
  min-height: 100%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.header{
  border-bottom: 1px solid #e5e7eb;
  padding: 24px 0;
}
.header .logo {
  vertical-align: middle;
  
}
.header a {
  font-weight: 700;
  color: #020817;
  text-decoration: none;
  margin: 0 4px;
   
}
footer {
  border-top: 1px solid #e5e7eb;
  text-align: center;
  padding: 24px 0 ;
}
footer *{
  color: #4b5563;
}
footer a {
  margin-left: 4px;
}

/* #0009 */